input{
    text-align:center;
}

::placeholder { 
    color: white; 
}

select{
    text-align-last:center; 
}

h4{
    font-size: calc(1vw + 1vh + 1vmin);
}
a{
   border: 0px 0px 0px 0px;
}

body{
    font-size: calc(.5vw + .5vh + 1vmin);
}

.footer{
    height:auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding:20px;
}

.card{
    background-color: rgba(0, 0, 0, 0);
    border: none;

}
.card-body{
    width: calc(9vw + 10vh + 3vmin);
    align-self: center;
}
.card img{
    height: calc(5vw + 15vh + 2vmin);
    width: calc(9vw + 10vh + 3vmin);
    object-fit: fill;
  
}
.card-header{
    background-color: rgba(0, 0, 0, 0);  
    border:none;
}
